* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.menu-quality {
  border-bottom: 1px solid #e7e9fc;
  align-items: center;
}
.menu-container {
  display: flex;
}
.menu-container .container {
  width: 1158px;
  padding: 0 15px;
}
.page-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 76px;
  text-decoration: none;
}
.logo-text {
  color: #2e2f42;
}
.menu-items {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.main-menu-list {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  text-decoration: none;
}
.main-menu-list:hover {
  color: #404bbf;
}
.main-menu-list:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  padding-left: 332px;
  padding-top: 24px;
  align-items: center;
}
.address-quality {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.address-list {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.address-list:hover {
  color: #404bbf;
}
.address-list:focus {
  color: #404bbf;
}

.background-section-one {
  background-color: #2e2f42;
  padding: 188px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page-quality {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-page {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  display: block;
}
.button-guality {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-top: 48px;
}
.button-guality:hover,
.button-guality:focus {
  background-color: #404bbf;
}
.section-goals-quality {
  background-color: #ffffff;
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.first-heading-section-goals {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.goals-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.goals-list-items {
  width: calc((100% - 72px) / 4);
}
.paragraf-quality {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: left;
}
.team-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.paragraf-guality-team {
  text-align: center;
}
.foto-list-team {
  background-color: #f4f4fd;
  display: flex;
  gap: 24px;
  list-style-type: none;
}
.list-team-items {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.name-team {
  padding: 32px 0px;
  background-color: #ffffff;
}
.our-goals-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
  margin-bottom: 8px;
}
img {
  display: block;
}
.background-section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.second-heading {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style-type: none;
}

.portfolio-items-quality {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  display: block;
  align-items: center;
}
.background-section-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-text-footer {
  color: #f4f4fd;
}
.paragraf-text {
  font-style: normal;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
